{{> board/include/top}}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">
			 {{> board/include/header}} 
			<!-- Begin Page Content -->
			<div class="container-fluid">
				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" width="100%" cellspacing="0">
							<tbody>
							<form name="form">
								<input type="hidden" class="form-control" id="groupNo" value="{{groupNo}}">
								<input type="hidden" class="form-control" id="parentNo" value="{{parentNo}}">
								<tr class="form-group">
									<td width="20%" align="center">
										 제목
									</td>
									<td>
										<input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
									</td>
								</tr>
								<tr class="form-group">
									<td align="center" style="vertical-align:middle">
										 내용
									</td>
									<td>
										<textarea class="form-control" id="contents" placeholder="내용을 입력하세요"></textarea>
									</td>
								</tr>
							</form>
							</tbody>
							</table>
							<!-- 이미지 -->
							<div contenteditable="true" id="uploadFiles" class="font-size-smid">
								 이미지 붙여넣기
							</div>
							<div class="card mb-4" style="margin-top:5px;">
								<!-- 파일 drag & drop -->
								<div id="fileDrop" class="card-header fileDrop font-size-smid" style="height:100px; line-height:70px; text-align:center;">
									 이미지 드래그 & 드롭
								</div>
								<!-- 업로드된 파일 목록 -->
								<div class="card-body uploadedList" id="uploadedList">
									<table width="100%" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
									<colgroup>
									<col width="40%">
									<col width="60%">
									</colgroup>
									<tbody id="uploadedListTable">
									</tbody>
									</table>
								</div>
							</div>
							<!-- 이미지 -->
							<div style="float:right;">
								<a href="#" class="btn btn-primary btn-icon-split" id="btn-save">
								<span class="text">글등록</span>
								</a>
								<a href="#" class="btn btn-secondary btn-icon-split" id="btn-exit">
								<span class="text">취소</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		 {{> board/include/footer}}
	</div>
	<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
 {{> board/include/scroll}} 
<!-- custom JavaScript -->
<script src="{{springMacroRequestContext.request.contextPath}}/js/board/script.upload.js"></script>
</body>