{{> member/include/header}}
<body class="bg-gradient-primary">
<div class="card o-hidden border-0 shadow-lg my-5" style="width:60%; margin-left:auto; margin-right:auto">
	<div class="card-body">
		<div class="p-5">
			<div class="text-center">
				<h1 class="h4 mb-4">회원가입</h1>
			</div>
			<form class="user">
				<div class="form-group row">
					<div class="col-sm-6 mb-3 mb-sm-0">
						<input type="text" class="form-control form-control-user" id="firstName" placeholder="성">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control form-control-user" id="lastName" placeholder="이름">
					</div>
				</div>
				<div class="form-group">
					<input type="email" class="form-control form-control-user" id="email" placeholder="Email">
					<div id="emailCheck" class="font-size-small font-bold" style="margin-top:10px; padding-left:15px;"></div>
				</div>
				<div class="form-group">
					<input type="password" class="form-control form-control-user" id="password" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<input type="password" class="form-control form-control-user" id="passwordCheck" placeholder="비밀번호 확인">
					<div id="pwdCheck" class="font-size-small font-bold" style="margin-top:10px; padding-left:15px;"></div>
				</div>
				<a href="#" class="btn btn-warning btn-user btn-block" id="btn-email-check" style="display:none">
				이메일 중복확인 
				</a>
				<a href="#" class="btn btn-primary btn-user btn-block" id="btn-register">
				가입하기 
				</a>
				<input type="hidden" id="registerCheck" value="N">
				<input type="hidden" id="emailUniqueCheck" value="N">
			</form>
			<hr>
			<div class="text-center">
				<a class="small" href="/member/login">Already have an account? Login!</a>
			</div>
		</div>
	</div>
</div>
 {{> member/include/footer}}
</body>
</html>