table th {
	text-align: center !important;
}

.dt-body-left {
	text-align: left;
}

.dt-body-center {
	text-align: center;
}

.dt-body-right {
	text-align: right;
}

.font-size-mid {
	font-size: 1.2em;
}

.font-size-large {
	font-size: 1.5em;
}

.font-size-small {
	font-size: 0.7em;	
}

.font-size-smid {
	font-size: 0.9em;
}

.font-bold {
	font-weight: bold;
}


.select-search {
	color: #858796 !important;
	height: 30px !important;
	text-align: center !important;
	border-color: #e3e6f0 !important;
	border-radius: 4px !important;
	font-weight: bold !important;
}

.input-search {
	height: 30px !important;
	font-size: 0.875rem !important;
	border-color: #e3e6f0 !important;
	border-radius: 4px !important;
}

.search-area {
	font-size: 0.875rem !important;	
}

#uploadFiles {
	text-align: center; 
	display: inline-block; 
	border: 1px solid #e3e6f0; 
	background-color: #F8F9FC; 
	border-radius: 5px; 
	width: 100%; 
	height: auto; 
	padding: 10px;
}
