table th {
	text-align: center !important;
}

.dt-body-left {
	text-align: left;
}

.dt-body-center {
	text-align: center;
}

.dt-body-right {
	text-align: right;
}

.font-size-mid {
	font-size: 1.2em;
}

.font-size-large {
	font-size: 1.5em;
}

#uploadFiles {
	text-align: center; 
	display: inline-block; 
	border: 1px solid #e3e6f0; 
	background-color: #F8F9FC; 
	border-radius: 5px; 
	width: 100%; 
	height: auto; 
	padding: 10px;
}
